<!DOCTYPE html>
<html>
<head>
    <title>Hostel management</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="no-bootstrap-body">
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <header class="no-bootstrap-header">
        <div class="no-bootstrap-container">
            <h1 class="logo"></h1>
            <nav>
                <ul id="navigation">
                    {% for item in navigation %}
                        <li><a href="{{ path(item.href) }}">{{ item.caption }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="no-bootstrap-body">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block content %}
            <div class="no-bootstrap-content">
                <h1>Witaj na stronie hostelu Hajibi!</h1>
                <h2>Żeby dokonać rezerwacji skorzystaj z zakładki rezerwacje</h2>
                <h2>Jeśli chcesz złożyć nowe zamówienie skorzystaj z zakładki zamówienia</h2>
            </div>
        {% endblock %}
    </div>

    <footer class="no-bootstrap-footer">
        <div class="custom-container clearfix">
            <h2>Artur Jankowski - projekt zaliczeniowy </h2>
        </div>
    </footer>
</body>
</html>