{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Add reservation</h2>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
